<%- include('./partials/header.ejs') %>
<section id="hero_text">
    <h1 class="mb-5">All Blogs</h1>
  </section>
  <section id="posts">
    <div class="container-fluid">
      <div class="row">
        <% data.map((a)=>{ %>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-3 blog_card">
            <img
              src="/uploads/<%= a.blogPhoto %>"
              alt=""
              width="100%"
              height="300px"
            />
            <div class="blog_card_text mt-3">
              <p class="mb-2">written by:<%=a.fullname %></p>
              <h4><%= a.blogTittle %></h4>
              <p><%= a.blogtext.slice(0,70) %>......</p>
              <button class="btn blog_card_button">
                <a href="/single/<%= a._id.toHexString() %>">Readmore</a>
              </button>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </section>
<%- include('./partials/footer.ejs') %>