<%-include('./partials/header.ejs') %>
<section id="single_blog_page">
  <h5 class="mt-4 mb-4"><%= writer %></h5>
  <h4 class="mb-2"><%= tittle %></h4>
  <img
    src="/uploads/<%= photo %>"
    alt=""
    height="500px"
    width="100%"
  />
  <p class="mt-4"><%= blogtext %></p>
</section>
<%-include('./partials/footer.ejs') %>
